*{
	color: #303030;
}
@font-face {
    font-family: 'MyriadProRegular';
  src: url('fonts/MyriadProRegular.ttf') format('truetype'),
       url('fonts/MyriadProRegular.woff') format('woff'),
       url('fonts/MyriadProRegular.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
     font-family: 'PTSansRegular';
  src: url('fonts/PTSansRegular.ttf') format('truetype'),
       url('fonts/PTSansRegular.woff') format('woff'),
       url('fonts/PTSansRegular.eot');
  font-weight: normal;
  font-style: normal;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
a{
    color: black; /* Цвет ссылок */
    text-decoration: none !important;
}
a:visited {
    color: black; /* Цвет посещенных ссылок */
    text-decoration: none !important;
   }
a:active {
    color: black; /* Цвет активных ссылок */
    text-decoration: none !important;
   }
a:hover{
	color: 	black;
	text-decoration:none !important;
}
#shapka{
	font-family: MyriadProRegular;
	background-color: #e7e7e7;
}
@media(min-width: 450px){
#tri1{
	font-size: 20pt;
}
}
#tri2{
	font-size: 19pt;
	 text-align: right;
}
#tri22{
	margin-top: 11.5px;
}
.bg{
	border: 1px solid white;
	background-image: url(../img/bg.png);
	background-size: cover;
}
#block_1{
	font-family: PTSansRegular ;
	margin-bottom: 2em;
	margin-top: 2em;
}
@media(max-width: 1760px){
#tri_tovaricha{
	margin-bottom: 10px;
	text-align: center;
	font-size: 40pt;
}
}
@media(min-width: 1760px){
#tri_tovaricha{
	margin-bottom: 80px;
	text-align: center;
	font-size: 60pt;
}
}
@media only screen and (max-width: 450px){
#tri_tovaricha{
	color: 	red;
	margin-bottom: 10px;
	text-align: center;
	font-size: 40pt;
}
}
#block_1_1{
		font-family: MyriadProRegular;
	white-space: nowrap;
	margin-bottom: 	80px;
}
@media(max-width: 1760px){
#tri_tovaricha_1{
	font-size: 20pt;
}
}
@media(min-width: 1760px){
#tri_tovaricha_1{
	font-size:  40pt;
}
}
@media(max-width: 1760px){
.circle{
 width:38px;
 height:38px;
 display:block;
 border-radius:50px;
 -moz-border-radius:50px;
 -webkit-border-radius:50px;
 -khtml-border-radius:50px;
 font-size:20pt; color:#ffba00;
 line-height:31px;
 text-align:center;
 background:#303030;
 display:inline-block;
 padding-top: 	3px;
}
}
@media(min-width: 1760px){
.circle{
 width:50px;
 height: 50px;
 display:block;
 border-radius:50px;
 -moz-border-radius:50px;
 -webkit-border-radius:50px;
 -khtml-border-radius:50px;
 font-size:40pt; color:#ffba00;
 line-height:43px;
 text-align:center;
 background:#303030;
 display:inline-block;
}
}
@media (min-width: 1200px){
#block_1_1_premoyg{
	margin-left: 2.2em;
	margin-right: 2.2em;
	background-color: #ffc833;
	font-size: 18pt;
	text-align: center;
	border-radius: 5PX;
	margin-top: 2.5em;
		margin-bottom:  2.5em;
}
}
@media (max-width: 1200px){
#block_1_1_premoyg{
	margin-left: 1em;
	margin-right: 1em;
	background-color: #ffc833;
	font-size: 18pt;
	text-align: center;
	margin-top: 2.5em;
	border-radius: 5PX;
		margin-bottom:  2.5em;
}
}
#block_1_1_premoyg:hover{
	background-color: #f7e672;
}
#block_2{
		font-family: MyriadProRegular;
		text-align: 	center;
	background:rgba(0,0,0,0.1);
}
#block_3{
	text-align: 	center;
			font-family: MyriadProRegular;
	background:rgba(0,0,0,0.30);
}
@media(max-width: 1200px){
	#block_3{
text-align: 	center;
		height:3em;
	background:rgba(0,0,0,0.30);
	vertical-align: middle;
	 line-height: 2.5em;
	}
}
@media(min-width: 1200px){
.block_3font{

	white-space: nowrap;
	text-align: center;
	font-size: 18pt;
}
}
@media(max-width: 1200px){
.block_3font{

	white-space: nowrap;
	text-align: center;
	font-size: 15.5pt;
}
}
#block_4{
 margin-top: 74.5px;
}
#block_5{
		font-family: MyriadProRegular;
	background-color: #e2e2e2;
}
#block_6{
		font-family: MyriadProRegular;
	padding-bottom: 3.5em;
	padding-top: 2.5em;
	background-color: #f6f6f6;
	text-align: center!important;
}

.icon_text{
    text-align: center;
	white-space: nowrap;
	font-size: 18pt;
}
.icon{
	display: inline-block;
  width: 9em;
  height: 9em;
  border: 4px solid black;
  border-radius: 50%;
  margin-top: 2em;
}
.icon1{
	width: 7.5em;
  height: 7.5em;
  border: 3px solid #ffba00;
  border-radius: 50%;
 margin:8px auto 5px;
 margin-bottom: 	20px;

}
.icon2{
	width: 9em;
  height: 9em;
  border: 4px solid black;
  border-radius: 50%;
 margin:13px auto 5px;
}
.icon3{
	width: 9em;
  height: 9em;
  border: 4px solid black;
  border-radius: 50%;
 margin:13px auto 5px;
 margin-left: 	60px;
}

#block_6_1{
	padding-top: 2.5em;
	padding-bottom:  3.8em;
	text-align: center;
		font-family: MyriadProRegular;
}
#block_7{
		font-family: MyriadProRegular;
	background-color: #e2e2e2;
}
@media(max-width:  1780px){
#block_8{
		font-family: MyriadProRegular;
	background-color: #f6f6f6;
	font-size: 18pt;
}
}
@media(min-width: 1780px){
#block_8{
		font-family: MyriadProRegular;
	background-color: #f6f6f6;
	font-size: 26pt;
}
}
#block_8_1{
		font-family: MyriadProRegular;
	padding-bottom: 	50px;
	background-color: #f6f6f6;
}
.photo_text{
		font-family: MyriadProRegular;
	font-size: 18pt;
	text-align: center;

}
.photo{
	display: inline-block;
	text-align: center;
  width: 12em;
  height: 12em;
  border: 4px solid black;
  border-radius: 50%;
}
.photo1{
	display: 	inline-block;
	text-align: center;
  width: 11em;
  height: 13.5em;
  border: 0px solid black;
  border-radius: 50%;
}
#block_9{
		font-family: MyriadProRegular;
	background-color: #e2e2e2;
}
#block_10{
		font-family: MyriadProRegular;
	text-align: 	center;
	margin-top: 	50px;
	margin-bottom: 50px;

}
#block_11{
		font-family: MyriadProRegular;
	background-color: #e2e2e2;
}
.text_center{
	font-family: PTSansRegular !important;
	text-align: center;
	font-size: 20pt;
	padding-top: 0.36em;
	padding-bottom:  0.1em;
}
@media(min-width: 1380px){
#podch{
	text-align: right;
	margin-left: 9.5em;
	display: inline;
	border-bottom: 1.5px solid currentColor;
}
}
@media(max-width: 1380px){
#podch{
	text-align: right;
	margin-left: 4em;
	display: inline;
	border-bottom: 1.5px solid currentColor;
}
}
@media(min-width: 1200px){
.otstyypcik{
	margin-bottom: 15px;
	margin-top: 10px;
}
}
.costil{
	font-size: 1pt;
}
.textkak{
	font-size: 16pt;
}
@media (max-width: 1482px) and (min-width: 1200px){
	.textkak{

		font-size: 14.5pt;
	white-space: nowrap;
}
}

@media (max-width: 1350px) and (min-width: 992px){
	.log{
		display: none;
	}
}

#block12{
	animation: fade-in .4s ease;
font-family: MyriadProRegular;
	margin-top: 80px;
	text-align: center;
	margin-bottom: 60px;
}
#cvet{
     height: 	16em;
	font-size: 18pt;
	background-color:  #fff2ad;
}
#cvet1{
	height: 	16em;
	font-size: 18pt;
	background-color: #f6f6f6;
}
@media (max-width: 450px){
	#cvet1{
padding-bottom: 340px;
}
#zai{
	font-size:  25pt;
}
.icon4{
	margin-top: 	55px;
	width: 4em;
 	height: 4em;
 	background-color: white;
  	border-radius: 50%;
	-webkit-transition: all 0.25s ease-out 0.1s;
     -moz-transition: all 0.25s ease-out 0.1s;
     -o-transition: all 0.25s ease-out 0.1s;
     transition: all 0.25s ease-out 0.1s;
}
.icon4:hover{
	margin-top: 	55px;
	width: 4em;
 	height: 4em;
 	background-color: #cecece;
  	border-radius: 50%;
}
@media(max-width: 450px){
	.icon4:hover{
	margin-top: 	30px;
	width: 4em;
 	height: 4em;
 	background-color: #cecece;
  	border-radius: 50%;
}
	}
@media(min-width: 1200px){
#block_2_premoyg{
	padding-top: 5PX;
	margin-top: 80px;
	width: 14.5em;
	height: 65px;
	background-color: #ffc21e;
	font-size: 14pt;
	text-align: center;
	border-style: none;
	border-radius: 5PX;
}
}
@media(max-width: 1200px){
	#block_2_premoyg{
	padding-top: 5PX;
	margin-top: 80px;
	width: 12em;
	height: 65px;
	background-color: #ffc21e;
	font-size: 14pt;
	text-align: center;
	border-style: none;
	border-radius: 5PX;
}
}
#block_2_premoyg:hover{
	background-color: #f7e672;
}
#block12_1{
	padding-top: 50px !important;
}
.ots{
	pading-top: 20px;
}
#block13{
	font-family: MyriadProRegular;
	margin-top: 30px;	margin-bottom:  30px;
	margin-left: 200px; font-size: 18pt;
}
@media(min-width: 1200px){
.text1{
	font-size: 20pt;
	text-align: right;
	 margin-right: 200px
}
}
@media(max-width: 1200px){
.text1{
	font-size: 20pt;
	text-align: right;
	 margin-right: 70px
}
}
@media(min-width: 1200px){
#zas{
	position: relative;
	right: 1em;
}
#zas1{

	position: relative;
	right: 0.5em;
}
}
@media(max-width: 1200px){
#zas{
	position: relative;
	right: 2.3em;
}
#zas1{

	position: relative;
	right: 1.3em;
}
}
.ic1{
	padding-top: 	7px;
	font-size: 	15pt;
}
input[type="text"]{
	padding-left: 	5px;
	height:  2.2em;
	width:  225px;
	border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
   border: 1px solid #e7ebf4;
   padding-top: 1px;
}
::-webkit-input-placeholder{
	 color: #c6c6c6;
}
input[type="text"]:focus {
	padding-top: 1px;
	padding-left: 	5px;
	height:  2.2em;
	width:   225px;
	border: 1px solid #6ccec1;
	outline:none;
	border-radius: 4px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
select {
  margin: 50px;
  width: 96px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border-radius: 5PX;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/select-arrow-open.png) 86% / 19% no-repeat #eee;
}
select:focus{
	background: url(../img/select-arrow-close.png) 86% / 19% no-repeat #eee;
	border-radius: 5PX;
}
}
select::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
}
/*select{
	 border: 1px solid #e7ebf4;
	border-radius: 4px;
	border-style: none;
}
select:focus{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}*/
u{
size: 	0.5px;
}
#podch1{
	border-bottom: 1.5px solid currentColor;
}
@media(min-width: 1200px){
.strelka{
	position: absolute;
	width:  50px;
margin: auto;
 left: 	50%;
 margin-left: 	-35px;
margin-top: 30px;
}
}
@media(max-width: 1200px){
	.strelka{
	position: absolute;
	width:  50px;
margin: auto;
 left: 	50%;
 margin-left: 	-35px;
margin-top: 20px;
}
}
@media(min-width: 1200px){
.SD{
	margin-left: 50px;
}
}
@media(min-width: 1200px){
.kr1{
margin-top: 5.5em;
margin-left: -1em;
	width: 12px;
	height: 12px;
	background: #ffba00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:3px solid;
}
.kr2{
margin-top: 5.5em;
	width: 12px;
	height: 12px;
	background: #ffba00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:3px solid;
}
.kr3{
	margin-left: 1em;
margin-top: 5.5em;
	width: 12px;
	height: 12px;
	background: #ffba00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:3px solid;
}
}
@media(max-width: 1200px){
.kr1{
margin-top: 5em;
	width: 12px;
	height: 12px;
	background: #ffba00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:3px solid;
		left: 50%;
	margin-left: -6px;
position: absolute;
}
.kr2{
margin-top: -0.1em;
	width: 12px;
	height: 12px;
	background: #ffba00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:3px solid;
	left: 50%;
	margin-left: -6px;
position: absolute;
}
.kr3{
margin-top: 2.3em;
	width: 12px;
	height: 12px;
	background: #ffba00;
	-moz-border-radius: 5px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:3px solid;
	left: 50%;
	margin-left: -6px;
position: absolute;
}
}
.lf{
height:  6em;

}
.text3{
	display: inline-block;
	width: 46px;
	height: 46px;

	-moz-border-radius: 23PX;
	-webkit-border-radius: 23PX;
	border-radius: 23PX;
	border:2px solid;
	text-align: center;
margin-left: 13PX;

}
.text3:hover{
	display: inline-block;
	width: 46px;
	height: 46px;
	background: #cecece;
	-moz-border-radius: 23PX;
	-webkit-border-radius: 23PX;
	border-radius: 23PX;
	border:2px solid;
	text-align: center;
margin-left: 13PX;

}
#te{
	margin-right:   33Яpx;
}
.as{
	margin-top: 10px;
}
body {
  scroll-behavior: smooth;
}
.text2{
	 margin-right: 50px;
	 display: inline-block;
}
#asd{
	position: relative;
	top: -1px;
}
@media(min-width: 1200px){
		#textt{
			padding-left: 	50PX;
			
		}
}
}
#TEX{
	margin-bottom: 25PX;
}
#asd{
	margin-top: 30px;
display: inline;
}
#azsd{
	height:  2.2em;
	border-radius: 5PX;
}
#azsd:focus{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border-radius: 5PX;
	}

@media(min-width: 1010px){
#seg{
	word-spacing: 8px;
	margin-right: 15PX;
	display: inline;
}}
@media(max-width: 1010px){
#seg{

	display: inline;
}}
option{
	border-radius: 5px;

}
option:focus{
	border-radius: 5px;

}
option:action{
	border-radius: 5px;

}
.hrs{
	 height: 0.5px;
	 color: #303030;
}
.ozzz{
	margin: 0;
	display: inline;
	white-space: nowrap;

	font-size: 17.5pt;
	padding-bottom: 40px;


}
.coment{

	background-color: #ffcf4c;
	margin-left: 230px;
font-size: 13.5pt;
	border: 25px solid #ffcf4c;
	border-top-left-radius: 0px;
border-top-right-radius: 65px;
border-bottom-right-radius: 65px;
border-bottom-left-radius: 65px;

-webkit-border-top-right-radius: 65px;
-webkit-border-bottom-right-radius: 65px;
-webkit-border-bottom-left-radius: 65px;
padding-left: 20px;
padding-right:20px;
}
.kom{
	display: inline-block;
	margin-left: 250px;
	margin-top: 30px;
}
@media(min-width: 976px){
	.scr{
		display: none;
	}
	.scr2{
		display: none;
	}
}
.input_name{
	margin-bottom: 20px;
}
@media(max-width: 450px){
	.input_name{
	margin-bottom: 10px;
}
}
/*@media(max-width: 1160px){
.coment{
background-color: #ffcf4c;
margin-left: 220px;
font-size: 13.5pt;
border: 25px solid #ffcf4c;
border-top-left-radius: 0px;
border-top-right-radius: 65px;
border-bottom-right-radius: 65px;
border-bottom-left-radius: 65px;
-webkit-border-top-right-radius: 65px;
-webkit-border-bottom-right-radius: 65px;
-webkit-border-bottom-left-radius: 65px;
padding-left: 20px;
padding-right:20px;
}
.kom{
	display: inline-block;
	margin-left: 70px;
	margin-top: 30px;
}
}*/
